[submodule "chips"]
	path = chips
	url = git@github.com:sehugg/chips.git
[submodule "mame"]
	path = mame
	url = git@github.com:sehugg/mame.git
[submodule "atari800"]
	path = atari800
	url = https://github.com/atari800/atari800
